<div class="wrapper-cart">
  <h1>Create Product</h1>
  <div
    style="
      width: 70%;
      margin: auto;
      background-color: #fff;
      padding: 1rem;
      border-radius: 8px;
    "
    [formGroup]="product"
    ;
  >
    <div class="form-control">
      <label for="name">Name:</label>
      <div><input type="text" id="name" /></div>
    </div>
    <div class="form-control">
      <label for="name">Price:</label>
      <div><input type="text" id="price" /></div>
    </div>
    <div class="form-control">
      <div
        class="btn-navigation"
        (click)="handleAddCart()"
        style="padding: 0.8rem; color: #fff; margin-top: 0.4rem"
      >
        Add to cart
      </div>
    </div>
  </div>
</div>
