<main class="main">
  <header-layout></header-layout>
  <!-- Start #6 Start -->
  <!-- <div>{{ title }}</div>
  <div>Something like {{ obj.ten }}</div>
  <div>Tuoi: {{ obj.tuoi - 2000 }}</div>

  <button [disabled]="isDisable">Gayyy</button>
  <img
    src="assets/images/shopping-cart.png"
    alt=""
    title="Logo {{ contentImage }}"
  /> -->
  <!-- Start #6 Start -->
  <!-- Start #7 Start -->
  <button (click)="handleClickMe()">{{ nameBtn }}</button>

  <div>{{ clickMessage }}</div>

  <input type="text" (keyup)="updateField()" />

  <!-- End #7 End -->
</main>

<router-outlet />
<!-- Không được xóa-->
