<!-- Start #6 Start -->
<!-- <div>{{ title }}</div>
  <div>Something like {{ obj.ten }}</div>
  <div>Tuoi: {{ obj.tuoi - 2000 }}</div>

  <button [disabled]="isDisable">Gayyy</button>
  <img
    src="assets/images/shopping-cart.png"
    alt=""
    title="Logo {{ contentImage }}"
  /> -->
<!-- Start #6 Start -->
<!-- Start #7 Start -->
<!-- <button (click)="handleClickMe()">{{ nameBtn }}</button>

  <div>{{ clickMessage }}</div>

  <input type="text" (keyup)="updateField()" /> -->

<!-- End #7 End -->

<!-- Start #8 Start -->
<!-- <div>
    Two-Way-Binding Setting: <input type="text" [(ngModel)]="bindingMessage" />
  </div>
  Message #8: {{ bindingMessage }} -->
<!-- End #8 End -->

<!--Start #9 Start-->
<div class="wrapper-cart">
  <div *ngIf="isVisible">Hello world</div>
  <!-- Nếu *ngIf=false -> bị xóa khỏi cây DOM(Bị comment lại)-->
  <h1>Shopping Cart</h1>
  <!-- [ngClass]="{ active: isActive }"-->

  <app-product-item [products]="products"></app-product-item>
</div>
<!--End #9 End-->
